<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hk.im.infrastructure.mapper.ChatCommunicationMapper">

    <resultMap id="BaseResultMap" type="com.hk.im.domain.entity.ChatCommunication">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="belongUserId" column="belong_user_id" jdbcType="BIGINT"/>
            <result property="sessionId" column="session_id" jdbcType="VARCHAR"/>
            <result property="senderId" column="sender_id" jdbcType="BIGINT"/>
            <result property="acceptorId" column="acceptor_id" jdbcType="BIGINT"/>
            <result property="groupId" column="group_id" jdbcType="BIGINT"/>
            <result property="lastMessageId" column="last_message_id" jdbcType="BIGINT"/>
            <result property="lastMessageContent" column="last_message_content" jdbcType="VARCHAR"/>
            <result property="lastSenderUsername" column="last_sender_username" jdbcType="VARCHAR"/>
            <result property="lastSendTime" column="last_send_time" jdbcType="TIMESTAMP"/>
            <result property="sessionType" column="session_type" jdbcType="INTEGER"/>
            <result property="sessionStatus" column="session_status" jdbcType="INTEGER"/>
            <result property="unreadCount" column="unread_count" jdbcType="INTEGER"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,belong_user_id,session_id,
        sender_id,acceptor_id,group_id,
        last_message_id,last_message_content,last_sender_username,
        last_send_time,session_type,session_status,
        unread_count,create_time,update_time
    </sql>
</mapper>
