<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hk.im.infrastructure.mapper.NoteMapper">

    <resultMap id="BaseResultMap" type="com.hk.im.domain.entity.Note">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="mdContent" column="md_content" jdbcType="VARCHAR"/>
        <result property="content" column="content" jdbcType="VARCHAR"/>
        <result property="summary" column="summary" jdbcType="VARCHAR"/>
        <result property="title" column="title" jdbcType="VARCHAR"/>
        <result property="cover" column="cover" jdbcType="VARCHAR"/>
        <result property="authorId" column="author_id" jdbcType="BIGINT"/>
        <result property="categoryId" column="category_id" jdbcType="BIGINT"/>
        <result property="status" column="status" jdbcType="INTEGER"/>
        <result property="deleted" column="deleted" jdbcType="BOOLEAN"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id
        ,title,summary
        ,md_content,content,cover,author_id,
        category_id,status,deleted,
        create_time,update_time
    </sql>


    <!-- 查询用户文集列表 -->
    <select id="selectNoteArticleList" resultType="com.hk.im.domain.entity.Note">
        select *
        from tb_note
        where author_id = #{request.userId}
          and status = 1
          and deleted = false
            limit ${(request.page - 1) * request.pageSize}
            , #{request.pageSize}
    </select>

    <!-- 近期编辑 -->
    <select id="selectRecentEditNoteList" resultType="com.hk.im.domain.entity.Note">
        select *
        from tb_note
        where author_id = #{request.userId}
        and status = 1
        and deleted = false
        and update_time > #{startTime}
        <if test="request.keyword != null and request.keyword.length() > 0">
            and (content like concat('%', #{request.keyword}, '%')
            or md_content like concat('%', #{request.keyword}, '%')
            or title like concat('%', #{request.keyword}, '%'))
        </if>
        limit ${(request.page - 1) * request.pageSize}, #{request.pageSize}
    </select>

    <!-- 我的收藏 -->
    <select id="selectCollectedNoteList" resultType="com.hk.im.domain.entity.Note">
        select *
        from tb_note
        where author_id = #{request.userId}
        and status = 1
        and deleted = false
        <if test="noteIdList != null and noteIdList.size() > 0">
            and id in
            <foreach collection="noteIdList" open="(" item="noteId" separator="," close=")">
                #{noteId}
            </foreach>
        </if>
        <if test="request.keyword != null and request.keyword.length() > 0">
            and (content like concat('%', #{request.keyword}, '%')
            or md_content like concat('%', #{request.keyword}, '%')
            or title like concat('%', #{request.keyword}, '%'))
        </if>
        limit ${(request.page - 1) * request.pageSize}, #{request.pageSize}
    </select>

    <!-- 笔记分类 -->
    <select id="selectNoteListByCategory" resultType="com.hk.im.domain.entity.Note">
        select *
        from tb_note
        where author_id = #{request.userId}
        and category_id = #{request.cid}
        and status = 1
        and deleted = false
        <if test="request.keyword != null and request.keyword.length() > 0">
            and (content like concat('%', #{request.keyword}, '%')
            or md_content like concat('%', #{request.keyword}, '%')
            or title like concat('%', #{request.keyword}, '%'))
        </if>
        limit ${(request.page - 1) * request.pageSize}, #{request.pageSize}
    </select>

    <!-- 笔记标签 -->
    <select id="selectNoteListByTag" resultType="com.hk.im.domain.entity.Note">
        select *
        from tb_note
        where author_id = #{request.userId}
        and status = 1
        and deleted = false
        <if test="noteIdList != null and noteIdList.size() > 0">
            and id in
            <foreach collection="noteIdList" open="(" item="noteId" separator="," close=")">
                #{noteId}
            </foreach>
        </if>
        <if test="request.keyword != null and request.keyword.length() > 0">
            and (content like concat('%', #{request.keyword}, '%')
            or md_content like concat('%', #{request.keyword}, '%')
            or title like concat('%', #{request.keyword}, '%'))
        </if>
        limit ${(request.page - 1) * request.pageSize}, #{request.pageSize}
    </select>

    <!-- 获取回收站笔记 -->
    <select id="selectRecycleBinNoteList" resultType="com.hk.im.domain.entity.Note">
        select *
        from tb_note
        where author_id = #{request.userId}
        and status = 3
        and deleted = true
        limit ${(request.page - 1) * request.pageSize}, #{request.pageSize}
    </select>
</mapper>
